@inherits LayoutComponentBase

<div class="page d-flex flex-column">
    <div class="container-fluid bg-purple">
        <TopNavBar/>
    </div>
    <div class="container-fluid flex-grow-1">
        @Body
    </div>

    <footer class="fixed-bottom text-center d-flex align-items-center justify-content-center footer">
        <p class="mb-0 py-2">Blog App Built using Blazor Server by <strong>Roh Junho</strong></p>
     </footer>
   @*  <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div> *@
</div>
