
<div class="container">
    <header class="d-flex justify-content-center justify-content-md-between py-3 flex-wrap">
        <NavLink href="/" class="text-light text-decoration-none nav-link-header">Blazaing Blog</NavLink>

        <ul class="nav">
            <li><NavLink href="/" class="text-light nav-link">Home</NavLink></li>
            <li><NavLink href="/About" class="text-light nav-link">About</NavLink></li>
            <li><NavLink href="/manage-categories" class="text-light nav-link">Manage Categories</NavLink></li>
            <li><NavLink href="/manage-blogs" class="text-light nav-link">Manage Blogs</NavLink></li>


        </ul>
        <div class="text-right">
            <NavLink href="/login" class="btn btn-primary">Login</NavLink>
        </div>
    </header>

  
</div>
@code {

}
